__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

.env
.env.*
!.env.example
!.env.prod.example
db.sqlite3
/staticfiles/
/media/*
!/media/.gitkeep

.DS_Store
.idea/
.vscode/

.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
