{% extends 'unfold/layouts/unauthenticated.html' %}

{% load i18n unfold %}

{% block title %}
    {% if form.email.errors %}{% translate "Error:" %} {% endif %}{{ title }} | {{ site_title }}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/unauthenticated_title.html" with title=site_title|default:_('Django site admin') subtitle=_('Reset your password') %}

    {% include "unfold/helpers/messages.html" %}

    <p class="mb-6 text-sm text-base-500 dark:text-base-400">
        {% translate "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
    </p>

    <form method="post">
        {% csrf_token %}

        {% include "unfold/helpers/field.html" with field=form.email %}

        <div class="flex flex-col gap-3 mt-6">
            {% component "unfold/components/button.html" with submit=1 variant="primary" class="w-full" %}
                {% translate 'Reset my password' %}
            {% endcomponent %}

            {% url 'admin:login' as login_url %}
            {% component "unfold/components/button.html" with href=login_url variant="secondary" class="w-full" %}
                {% translate 'Back to log in' %}
            {% endcomponent %}
        </div>
    </form>
{% endblock %}
