{% extends 'unfold/layouts/unauthenticated.html' %}

{% load i18n unfold %}

{% block title %}
    {% if form.new_password1.errors or form.new_password2.errors %}{% translate "Error:" %} {% endif %}{{ title }} | {{ site_title }}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/unauthenticated_title.html" with title=site_title|default:_('Django site admin') subtitle=_('Set a new password') %}

    {% include "unfold/helpers/messages.html" %}

    {% if validlink %}
        <p class="mb-6 text-sm text-base-500 dark:text-base-400">
            {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>

        <form method="post">
            {% csrf_token %}
            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">

            {% include "unfold/helpers/field.html" with field=form.new_password1 %}

            <div class="mt-4">
                {% include "unfold/helpers/field.html" with field=form.new_password2 %}
            </div>

            <div class="flex flex-col gap-3 mt-6">
                {% component "unfold/components/button.html" with submit=1 variant="primary" class="w-full" %}
                    {% translate 'Change my password' %}
                {% endcomponent %}
            </div>
        </form>
    {% else %}
        <div class="flex flex-col gap-4 mb-6 *:mb-0">
            {% include "unfold/helpers/messages/error.html" with error=_("The password reset link was invalid, possibly because it has already been used. Please request a new password reset.") %}
        </div>

        {% url 'admin_password_reset' as password_reset_url %}
        {% component "unfold/components/button.html" with href=password_reset_url variant="secondary" class="w-full" %}
            {% translate 'Request a new link' %}
        {% endcomponent %}
    {% endif %}
{% endblock %}
