{% extends "admin/base_site.html" %}
{% load i18n unfold %}

{% block content %}
    <div class="max-w-2xl">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="flex flex-col gap-4 *:mb-0">
                {% for field in form %}
                    {% include "unfold/helpers/field.html" %}
                {% endfor %}
            </div>

            <div class="mt-6">
                {% component "unfold/components/button.html" with submit=1 variant="primary" %}
                    {% translate "Save" %}
                {% endcomponent %}
            </div>
        </form>
    </div>
{% endblock %}
